database:
  address: "[2a05:d018:135e:16b9:e768:f0f3:e337:4a0]:5432/postgres?sslmode=require"
  username: "postgres"
  password: "l6TuVaUiqmhWbbVO"
  ssl: true
  conn_max_lifetime: 0
  max_open_conns: 0
  max_idle_conns: 0

socket:
  ws_port: 7350
  ws_ping_period: 30s
  max_message_rate: 30
  max_presence_per_user: 5
  session_encryption_key: "DaNjI20sbHAZBy3h86xCoTfMleidWELw"

runtime:
  path: "/nakama/data/modules"
  js_entrypoint: "index.js"

logger:
  level: "INFO"
  stdout: true
